<?xml version="1.0"?>
<Profile autoConfigure="true" enablePermissions="true">
	<MetaClasses>
		<CustomerAddressClass name="CustomerAddressEx"/>
		<OrganizationClass name="Organization"/>
		<AccountClass name="Account"/>
	</MetaClasses>
	<MappedTypes>
		<CustomerAddress name="Mediachase.Commerce.Profile.CustomerAddress,Mediachase.Commerce"/>
		<Organization name="Mediachase.Commerce.Profile.Organization,Mediachase.Commerce"/>
		<Account name="Mediachase.Commerce.Profile.Account,Mediachase.Commerce"/>
	</MappedTypes>
	<Connection connectionStringName="EcfSqlConnection"/>
	<Cache enabled="true" userCollectionTimeout="0:1:0" organizationCollectionTimeout="0:1:0" userTimeout="0:1:0" organizationTimeout="0:1:0"/>
	<Roles>
		<add name="AdminRole" value="Profile Admins" />
		<add name="ManagerRole" value="Profile Managers" />
		<add name="SchemaManagerRole" value="Profile Schema Managers" />
		<add name="ViewerRole" value="Profile Viewers" />
	</Roles>
</Profile>