<?xml version="1.0"?>
<Orders newOrderStatus="NewOrder" autoConfigure="true">
	<MappedTypes>
		<ShoppingCartType name="Mediachase.Commerce.Orders.Cart,Mediachase.Commerce"/>
		<PurchaseOrderType name="Mediachase.Commerce.Orders.PurchaseOrder,Mediachase.Commerce"/>
		<OrderFormType name="Mediachase.Commerce.Orders.OrderForm,Mediachase.Commerce"/>
		<PaymentPlanType name="Mediachase.Commerce.Orders.PaymentPlan,Mediachase.Commerce"/>
		<LineItemType name="Mediachase.Commerce.Orders.LineItem,Mediachase.Commerce"/>
		<OrderGroupAddressType name="Mediachase.Commerce.Orders.OrderAddress,Mediachase.Commerce"/>
		<ShipmentType name="Mediachase.Commerce.Orders.Shipment,Mediachase.Commerce"/>
	</MappedTypes>
	<MetaClasses>
		<PurchaseOrderClass name="PurchaseOrder"/>
		<PaymentPlanClass name="PaymentPlan"/>
		<ShoppingCartClass name="ShoppingCart"/>
		<OrderFormClass name="OrderFormEx"/>
		<LineItemClass name="LineItemEx"/>
		<ShipmentClass name="ShipmentEx"/>
		<OrderAddressClass name="OrderGroupAddressEx"/>
	</MetaClasses>
	<Connections confConnectionStringName="EcfSqlConnection" transConnectionStringName="EcfSqlConnection"/>
	<Cache enabled="true" shippingCollectionTimeout="0:0:10" paymentCollectionTimeout="0:0:10" statusCollectionTimeout="0:0:10" countryCollectionTimeout="0:0:10" taxCollectionTimeout="0:0:10" jurisdictionCollectionTimeout="0:0:10"/>
	<Roles>
		<add name="AdminRole" value="Order Admins" />
		<add name="ManagerRole" value="Order Managers" />
		<add name="SchemaManagerRole" value="Order Schema Managers" />
		<add name="ViewerRole" value="Order Viewers" />
	</Roles>
</Orders>