<?xml version="1.0"?>
<Catalog autoConfigure="true">
  <Connection connectionStringName="EcfSqlConnection"/>
  <Cache enabled="true" collectionTimeout="0:15:0" entryTimeout="0:15:0" nodeTimeout="0:15:0" schemaTimeout="0:15:0"/>
  <Encoding imageQualityPercentage="80" defaultFormat="jPeg"/>
  <Roles>
    <add name="CatalogAdminRole" value="Catalog Admins" />
    <add name="CatalogManagerRole" value="Catalog Managers" />
    <add name="CatalogSchemaManagerRole" value="Catalog Schema Managers" />
    <add name="CatalogViewerRole" value="Catalog Viewers" />
  </Roles>
</Catalog>
