<?xml version="1.0"?>
<Marketing>
	<Connection connectionStringName="EcfSqlConnection"/>
	<Cache enabled="true" promotionTimeout="0:1:0" campaignTimeout="0:1:0" policyTimeout="0:1:0" segmentTimeout="0:1:0" expressionTimeout="0:1:0"/>
	<MappedTypes>
		<ExpressionValidatorType name="Mediachase.Commerce.Marketing.Validators.RulesExprValidator,Mediachase.Commerce.Marketing.Validators"/>
	</MappedTypes>
	<Roles>
		<add name="AdminRole" value="Marketing Admins" />
		<add name="ManagerRole" value="Marketing Managers" />
		<add name="SchemaManagerRole" value="Marketing Schema Managers" />
		<add name="ViewerRole" value="Marketing Viewers" />
	</Roles>
</Marketing>