<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="FrameworkProviders">
			<section name="dataService" type="Mediachase.Data.Provider.DataProviderSection, Mediachase.DataProvider" />
			<section name="imageService" type="Mediachase.Commerce.Engine.Images.ImageServiceSection, Mediachase.Commerce" />
		</sectionGroup>
		<sectionGroup name="CommerceFramework">
			<section name="Security" type="Mediachase.Commerce.Security.Configuration.SecurityConfigurationSection,Mediachase.Commerce" />
			<section name="Workflow" type="Mediachase.Commerce.WorkflowConfiguration,Mediachase.Commerce" />
			<section name="Application" type="Mediachase.Commerce.Core.CoreConfiguration,Mediachase.Commerce" />
			<section name="Asset" type="Mediachase.Commerce.Asset.AssetConfiguration,Mediachase.Commerce" />
			<section name="Catalog" type="Mediachase.Commerce.Catalog.CatalogConfiguration,Mediachase.Commerce" />
			<section name="Marketing" type="Mediachase.Commerce.Marketing.MarketingConfiguration,Mediachase.Commerce" />
			<section name="Orders" type="Mediachase.Commerce.Orders.OrderConfiguration,Mediachase.Commerce" />
			<section name="ContentManagement" type="Mediachase.Cms.CmsConfiguration,Mediachase.Cms" />
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<services>
			<!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
			<service name="Mediachase.Commerce.Catalog.WebServices.CatalogWebService" behaviorConfiguration="CommerceServiceBehavior">
				<endpoint contract="Mediachase.Commerce.Catalog.ICatalogSystem" binding="wsHttpBinding" bindingConfiguration="CommerceServiceBinding" />
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
			</service>
			<!-- SSO Ticket Web Service Configuration
      <service name="Mediachase.Commerce.Security.SingleSignOnService" behaviorConfiguration="SingleSignOnBehavior">
        <endpoint contract="Mediachase.Commerce.Security.ISingleSignOn" binding="wsHttpBinding" bindingConfiguration="SingleSignOnBinding" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
      -->
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="CommerceServiceBinding">
					<!-- UsernameToken over Transport Security -->
					<security mode="None">
						<message clientCredentialType="None" />
					</security>
				</binding>
				<!-- SSO Ticket Web Service Binding
        <binding name="SingleSignOnBinding">
          ** NOTE: Add Security Here
          <security mode="None">
            <message clientCredentialType="None" />
          </security>
        </binding>
        -->
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="CommerceServiceBehavior">
					<serviceDebug includeExceptionDetailInFaults="true" />
					<serviceMetadata httpGetEnabled="true" />
					<!--
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider"
              membershipProviderName ="SqlMembershipProvider"/>
          </serviceCredentials>
                   -->
				</behavior>
				<!-- SSO Ticket Web Service Behavior
        <behavior name="SingleSignOnBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        -->
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<!-- Framework configuration -->
	<CommerceFramework>
		<!-- Security Configuration -->
		<Security configSource="ecf.security.config" />
		<!-- Cms Configuration -->
		<ContentManagement configSource="ecf.cms.config" />
		<!-- Workflow Configuration -->
		<Workflow configSource="ecf.workflow.config" />
		<!-- Application Configuration -->
		<Application configSource="ecf.app.config" />
		<!-- Catalog Configuration -->
		<Catalog configSource="ecf.catalog.config" />
		<!-- Marketing Configuration -->
		<Marketing configSource="ecf.marketing.config" />
		<!-- Orders Configuration -->
		<Orders configSource="ecf.order.config" />
	</CommerceFramework>
	<!-- 
    Framework Data provides.
    Currenty supports following providers:
     - imageService: processes the images and creates a cached version, default implementation is caching images in the file system
     - dataService: provides provider based access to the database, default implementation uses SqlDataProvider
  -->
	<FrameworkProviders>
		<dataService defaultProvider="SqlDataProvider">
			<providers>
				<add name="SqlDataProvider" type="Mediachase.Data.Provider.SqlDataProvider, Mediachase.SqlDataProvider" connectionStringName="SqlConnection" applicationName="AxiCommerceSampleCommerceManager" />
			</providers>
		</dataService>
		<imageService defaultProvider="HandlerImageProvider">
			<providers>
				<add name="HandlerImageProvider" type="Mediachase.Commerce.Engine.Images.Providers.HandlerImageProvider, Mediachase.Commerce" urlFormatString="~/images/t/{0}.image.ashx" applicationName="AxiCommerceSampleCommerceManager" />
			</providers>
		</imageService>
	</FrameworkProviders>
	<connectionStrings configSource="connectionStrings.config" />
	<system.web>
		<customErrors mode="Off" />
		<membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15" hashAlgorithmType="HMACSHA512">
			<providers>
				<add connectionStringName="EcfSqlConnection" applicationName="AxiCommerceSampleCommerceManager" enablePasswordRetrieval="true" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Clear" passwordStrengthRegularExpression="" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
		</membership>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="Microsoft.Build.Tasks, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="Microsoft.Build.Utilities, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Runtime.Serialization.Formatters.Soap, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Workflow.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Workflow.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Workflow.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
